<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dofast.module.qms.dal.mysql.ipqc.IpqcMapper">

    <!--
        一般情况下，尽可能使用 Mapper 进行 CRUD 增删改查即可。
        无法满足的场景，例如说多表关联查询，才使用 XML 编写 SQL。
        代码生成器暂时只生成 Mapper XML 文件本身，更多推荐 MybatisX 快速开发插件来生成查询。
        文档可见：https://www.iocoder.cn/MyBatis/x-plugins/
     -->

    <update id="updateCrMajMinQuaAndRate" parameterType="Long">
        UPDATE qms_ipqc a
            INNER JOIN (
            SELECT SUM(CASE WHEN defect_level = 'CR' THEN defect_quantity ELSE 0 END ) AS cr_quantity,
            SUM(CASE WHEN defect_level = 'MAJ' THEN defect_quantity ELSE 0 END) AS maj_quantity,
            SUM(CASE WHEN defect_level = 'MIN' THEN defect_quantity ELSE 0 END) AS min_quantity,
            qid.`qc_id` as 'ipqc_id'
            FROM qms_defect_record qid
            WHERE qid.qc_id = #{ipqcId}
            and qid.qc_type = 'IPQC'
            GROUP BY qid.qc_id
            ) b
        ON a.`id` = b.ipqc_id
            SET a.cr_quantity=b.cr_quantity,a.maj_quantity=b.maj_quantity,a.min_quantity=b.min_quantity,
                a.`cr_rate`= ROUND(b.cr_quantity/a.`quantity_check`*100,2),
                a.`maj_rate`= ROUND(b.maj_quantity/a.`quantity_check`*100,2),
                a.`min_rate`= ROUND(b.min_quantity/a.`quantity_check`*100,2)
        WHERE a.id = #{ipqcId}
    </update>


    <select id="getProcessQuality" resultType="java.util.Map">
        SELECT
            p.process_id,
            p.process_code,
            p.process_name,
            COUNT(DISTINCT i.id) AS inspection_count, -- 检验次数
            SUM(i.quantity_check) AS total_inspected, -- 总检测数量
            SUM(i.quantity_qualified) AS total_qualified, -- 合格数量
            SUM(i.quantity_unqualified) AS total_unqualified, -- 不合格数量
            ROUND(SUM(i.quantity_qualified) / SUM(i.quantity_check) * 100, 2) AS pass_rate, -- 合格率
            ROUND(SUM(i.cr_quantity) / SUM(i.quantity_check) * 100, 2) AS critical_defect_rate, -- 致命缺陷率
            ROUND(SUM(i.maj_quantity) / SUM(i.quantity_check) * 100, 2) AS major_defect_rate, -- 严重缺陷率
            ROUND(SUM(i.min_quantity) / SUM(i.quantity_check) * 100, 2) AS minor_defect_rate -- 轻微缺陷率
        FROM qms_ipqc i
                 JOIN (
            SELECT DISTINCT process_id, process_code, process_name
            FROM qms_ipqc
            WHERE process_id IS NOT NULL
        ) p ON i.process_id = p.process_id
        WHERE
            i.deleted = 0
        GROUP BY
            p.process_id, p.process_code, p.process_name
        ORDER BY pass_rate DESC
    </select>



</mapper>



